@include mediaSmall {
  .single {
    > div {
      > div {
        p {
          &:first-of-type {
            font-size: 1rem;
          }

          &:last-of-type {
            font-size: 1rem;
            line-height: 20px;
          }
        }
      }

      ul li {
        padding: 10px;
        font-size: 1rem;
      }
    }
  }
}
