@include mediaMedium {
  .homeTracks {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

@include mediaSmall {
  main {
    max-width: 90vw !important;
    margin: 3rem auto !important;
  }

  .searchBar {
    div {
      flex-direction: column-reverse;

      svg,
      h1 {
        margin: 0 auto 2rem;
      }
    }
  }

  .single {
    > div {
      > div {
        p {
          &:first-of-type {
            font-size: 1rem;
          }

          &:last-of-type {
            font-size: 1rem;
            line-height: 20px;
          }
        }
      }

      ul li {
        padding: 10px;
        font-size: 1rem;
      }
    }
  }
}
