@import "config";
@import "homeTracks";
@import "single";
@import "searchBar";
@import "responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 80vw;
  margin: 5rem auto;
  font-family: $primaryFont;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #2d3339;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
